<div class="container mt-5">
  <div class="card">
    <h1> Edit your Truck </h1>
    <hr>
    <p>Not implemented yet</p>
  </div>
  <%= link_to 'Back' , truck_path(@truck), class: "btn btn-secondary btn-sm mt-3 mb-3" %>
</div>