
<div class="container mt-5">
  <h1>Offer your Truck</h1>
  <p class="truck-descrip"> <h3>Let your possible renters know which kind of car you are offering by sharing the brand, location, price per day and the size. Don't forget to add a friendly description to attract more ;)"</h3></p>

  <%= render 'form', truck: @truck %>

  <br>
  <%= link_to 'Back to list of trucks', trucks_path %>


</div>
