
<div class="container mt-5">
<h1>Offer your Truck</h1>

<%= render 'form', truck: @truck %>

<br>
<div class="link">
<%= link_to 'Back to overview', trucks_path, class: "btn btn-success" %>

</div>
</div>
