
<div class="container mt-5">

<div class="card book-confirmation">
  <h1>Offer your Truck</h1>
  <h4>
    Let your possible renters know which kind of vehicle you are offering by sharing the brand, location, price per day and the size. Don't forget your friendly description.</h3>
  </h4>
  <br>
  <%= render 'form', truck: @truck %>
  <br>
  <%= link_to 'Back to list of trucks', trucks_path %>
</div>
</div>
