<div class="container dashboard mt-5">
  <h1> Dashboard </h1>
  <hr>

  <% if current_user.admin %>
    <%= render "index_admin" %>
  <% else %>

    <% unless @bookings_as_customer.empty? %>
      <%= render "index_customer" %>
    <% end %>

    <% unless @bookings_as_owner.empty? %>
      <%= render "index_owner" %>
    <% end %>

  <% end %>
  <%= link_to 'Back' , trucks_path,class: "btn btn-outline-primary mt-5 mb-3" %>
</div>
