<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= asset_url('movinghome.jpg') %>');">
  <div class="container text-center">
    <h1>Welcome to OurTruck </strong></h1>
    <p> Sharing is caring. Find or rent a truck from owners around you and keep moving.</p>
    <%= link_to 'Start Searching', trucks_path, class: "btn btn-flat" %>
  </div>
</div>

<div class= "container">

  <div class="description-text">
    <p>
     You're moving and you need a truck? OurTruck is the place where you can find vehicles of different brands, sizes and prices per day, offered by people near your location.
    </p>
    <p>Create your account and make a reservation or post your own vehicle up for rent in minutes.<br>

    <div class="link">
    <%= link_to 'Create my account', new_user_registration_path, class: "mt-3 btn btn-outline-primary" %>
    </div>
  </div>

</div>

