.card-booking{
    overflow: hidden;
    height: 140px;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.card-booking img {
    padding: 5px;
    height: 100%;
    width: 200px;
    object-fit: cover;
  }

.card-booking .card-booking-info {
  padding: 30px;
}

.booking-button-inline {
  display: inline-block;
  height: 1rem;
}